<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>PurchasingControl</display-name>



	<listener>
		<listener-class>jdbc.DBCPInitListener</listener-class>
	</listener>

	<context-param>
		<param-name>poolConfig</param-name>
		<param-value>
  	jdbcdriver=oracle.jdbc.driver.OracleDriver
  	jdbcUrl=jdbc:oracle:thin:@211.245.48.159:1521:xe
  	dbUser=DEKIRU
  	dbPass=DEKIRU
  	validationQuery=select 1
  	minIdle=3
  	maxTotal=30
  	poolName=purchase
  		</param-value>
	</context-param>



	<servlet>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>view.controller.FrontController</servlet-class>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>/view/commandHandlerUri.properties</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>


	<!-- JSTL or Bootstrap 태그라이브러리 쓸 경우 추가 설정 가능 -->


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
</web-app>